<%= image_tag "errors/404/happy_404.png" %>
<h1>Happy day!</h1>
<p>
	No error on this page, just someone controlling his shared content.<br />
	Join the the data revolution?
</p>
<strong>
	Discover <a href="http://contentbird.com" target="_blank">contenbird.com</a>
</strong>
	

